configuration {
    modi: "run,drun,window";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰀻  Apps ";
    display-run: "   Run ";
    display-window: " 󱂬  Windows ";
    window-format: " 󱂬  W{w} · {c}  —  {t}";
    sidebar-mode: false;
}

/* Load the visual theme styling */
@theme "~/.config/rofi/catppuccino-mocha.rasi"
